@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.79;
	color: #6C757D;
}

.wrapper {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

.part-1 {
	padding-top: 15px;
}

.part-1__title {
	max-width: 400px;
}

img {
	max-width: 100%;
}

.part-2__title {
	max-width: 605px;
}

.not-last-p {
	padding-bottom: 20px;
}

.img-1 {
	margin-bottom: 80px;
}

.images {
	font-size: 0px;
	margin-bottom: 80px;
}

.img-2 {
	margin-right: 30px;
}

[class*="__container"] {
	max-width: 816px;
	margin: 0 auto;
}

[class*="__title"] {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	margin-bottom: 40px;
}

[class*="__text"] {
	margin-bottom: 80px;
}

.footer-p {
	color: #d2691e;
}

.footer__img {
	background-color: #00ffff;
	padding: 30px;
	margin: 30px;
}

.block-over {
	max-width: 200px;
	max-height: 200px;
	margin: 0 auto;
	background-color: #c1bbc7;
	overflow: scroll;
}

.footer__link {
	display: inline-block;
	color: #080a0c;
	font-weight: 700;
	margin: 5px 5px 5px;
}

.PTN-H {
	display: none;
}

.list {
	font-size: 0;
}

.list__item {
	display: inline-block;
	font-size: 18px;
	background-color: #c1bbc7;
	padding: 15px;
	margin-right: 15px;
}



