@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2; /* 17/14 */
}
.wrapper{
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
.header{
	background-color: #000000;
	max-height: 80px;
	text-align: center;
	padding: 15px 0px;
}
.header__title{
	font-size: 28px;
	color: #ffffff;
}
.page{
	background-color: #808080;
	padding: 15px 0px;
}
.block__title{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
}
.block__sub-title{
	font-size: 22px;
	margin-bottom: 15px;
	text-align: center;
}

.block__practice{
	display: flex;
	background-color: rgb(255 216 0);
	text-align: center;
}
.inline-flex{
	display: inline-flex;
}
.flex-wrap-nowrap{
	max-width: 150px;
	flex-wrap: nowrap;
}
.flex-wrap-wrap{
	max-width: 150px;
	flex-wrap: wrap;
} 
.flex-wrap-wrap-reverse{
	max-width: 150px;
	flex-wrap: wrap-reverse;
}
.justify-content-start{
	justify-content: flex-start;
}
.justify-content-end{
	justify-content: flex-end;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-space-between{
	justify-content: space-between;
}
.justify-content-space-around{
	justify-content: space-around;
}
.justify-content-space-evenly{
	justify-content: space-evenly;
}
.align-items-stretch{
	height: 100px;
	align-items: stretch;
}
.align-items-start{
	height: 100px;
	align-items: start;
}
.align-items-end{
	height: 100px;
	align-items: end;
}
.align-items-center{
	height: 100px;
	align-items: center;
}
.align-items-baseline{
	height: 100px;
	align-items: baseline;
}
.flex-direction-row{
	flex-direction: row;
}
.flex-direction-row-reverse{
	flex-direction: row-reverse;
}
.flex-direction-column{
	flex-direction: column;
}
.flex-direction-column-reverse{
	flex-direction: column-reverse;
}
.flex-gap{
	gap: 30px;
}
.container-align-self{
	height: 100px;
}
.block__item{
	background-color: rgb(0 87 184);
	padding: 15px 15px;
	font-size: 18px;
	border: solid 1px #000000;
	border-radius: 5px;
}
.item-align-self-start{
	align-self: flex-start;
}
.item-align-self-end{
	align-self: flex-end;
}
.item-align-self-stretch{
	align-self: stretch;
}
.item-align-self-center{
	align-self: center;
}
.item-flex-grow{
	flex-grow: 1;
}
.item-flex-basis{
	flex-basis: 410px;
}
.item-flex-shrink{
	flex-basis: 180px;
	flex-shrink: 0;
}
.item-order-first{
	order:3;
}
.item-order-second{
	order: 1;
}
.item-order-third{
	order: 4;
}
.item-flex-fourth{
	order: 2;
}
.block__practice:not(:last-child){
	margin-bottom: 15px;
}

.block__practice--gap {
	margin: 0px -10px;
}

.block__column{
	flex: 0 0 25%;
	padding: 0px 10px;
}
.text-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
	border: 2px solid #ffffff;
	padding: 15px;
	margin-bottom: 15px;
}
.text-block__title {
	font-size: 25px;
}
.text-block__text {
	font-size: 16px;
}
.text-block__link {
	font-weight: 600;
}

.cards {
	display: flex;
	margin: 0px -15px 15px -15px;
}
.cards__column {
	flex: 0 0 33.333%;
	padding: 0px 15px;
}
.cards__item {
}
.item-card {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	align-items: flex-start;
	border: 2px solid #ffffff;
	padding: 15px;
	min-height: 100%;
}
.item-card__image {
	overflow: hidden;
}
.item-card__picture {
	max-width: 100%;
	transition: transform 0.8s;
}

.item-card__picture:hover{
	transform: scale(1.05);
}
.item-card__text {
	flex-grow: 1;
}
.item-card__button {
	background-color: #ffffff;
	padding: 5px;
}

.page__section{
	margin-bottom: 15px;
}

.section-page__link{
	color: #ffffff;
	display: inline-flex;
	align-items: center;
	gap: 10px;
}

.section-page__link::before{
	content: "";
	flex: 0 0 20px;
	height: 20px;
	background-color: #000000;
	border-radius: 50%;
	width: 20px;
}

.object {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}
.object__icon {
	flex-shrink: 0;
	width: 80px;
	height: 80px;
	background-color: #000000;

	/* Или flex: 0 0 80px; Вместо flex-shrink: 0; и width: 80px; */
}
.object__title {
	color: #ffffff;
}

.text {
	clear: both;
}
.text__image {
	float: left;
	margin: 0px 15px 15px 0px;
}

.footer{
	background-color: #000000;
	min-height: 80px;
	padding: 30px;
	text-align: center;
}

.footer__button{
	color: #ffffff;
	background-color: #808080;
	padding: 5px;
	border-radius: 5px;
}

[class*=__container]{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}